//
   Created by feer on 25/06/16.
doctype html
html
 head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(src='/js/bootstrap.min.js')

 body
  div(class='container', align='center')
        font(color='white') Qualifymegt      All Rights Reserved     2016
        br
        a(href='/privacy') Privacy Policy
