//
   Created by feer on 29/04/16.

doctype html
html
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    head
        title Qualifier
        meta(charset='UTF-8')
        script(src="/socket.io/socket.io.js")
        //script(src='/javascripts/load_menu.js')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')

    body
        script(type='text/javascript').
            var local_data = !{JSON.stringify(data)};
            //console.log(local_data.prof);
            //console.log(local_data.curs);

        h1 Login
        a(href='/menu') entrar