doctype html
html
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    head
        title Qualifier
        meta(charset='UTF-8')
        script(src="/socket.io/socket.io.js")
        link(rel='stylesheet', href='stylesheets/jquery.rateyo.min.css')
        //link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        //link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='stylesheets/bootstrap.css')
        //link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/TweetList.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-resource.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-sanitize.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js')
        script(src='//platform.twitter.com/widgets.js')
        script(src='/javascripts/TweetList.js')


    body(ng-app='Twitter')
        script.
            var htprofesor = 'ReneOrnelyz';
            var htcurso = 'EDD';
            var mirating = 0;
            var socket = io.connect();
            var peticion = {profesor:'ReneOrnelyz', curso:'EDD'};
            var mi_voto = {
                profesor: htprofesor,
                curso: htcurso,
                puntualidad: '0',
                c_horario: '0',
                asistencia: '0',
                t_estudiantes: '0',
                metodologia: '0',
                objetividad: '0',
                revision: '0',
                transparencia: '0',
                comunicacion: '0'
            };
            var puntuacion = 0;
            socket.emit('req_info', JSON.stringify(peticion));
            socket.on('Qresult', function (data) {
                console.log('el resultado es: ' + data);
                mirating = data;
                $("#rateYo1").rateYo("option", "rating", mirating);
            });
            socket.on('Qvote', function (data) {
                console.log('Has votado tio!');
                //emitimos la peticion de calificacion general, para poder actualizar los resultados.
                socket.emit('req_info', JSON.stringify(peticion));
            });
            function vote(){
                socket.emit('vote', JSON.stringify(mi_voto));
            }
            function get_votes() {
                mi_voto.puntualidad = $("#rate_puntualidad").rateYo("option", "rating");
                mi_voto.c_horario = $("#rate_hestablecido").rateYo("option", "rating");
                mi_voto.asistencia = $("#rate_asistencia").rateYo("option", "rating");
                mi_voto.t_estudiantes = $("#rate_trato").rateYo("option", "rating");
                mi_voto.metodologia = $("#rate_metodologia").rateYo("option", "rating");
                mi_voto.objetividad = $("#rate_objetividad").rateYo("option", "rating");
                mi_voto.revision = $("#rate_revision").rateYo("option", "rating");
                mi_voto.transparencia = $("#rate_transparencia").rateYo("option", "rating");
                mi_voto.comunicacion = $("#rate_comunicacion").rateYo("option", "rating");
                vote();
            }


    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') QualifyMe
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#')
                            | Link
                            span.sr-only (current)
                    li
                        a(href='#') Link
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                            | Dropdown
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider
                            li
                                a(href='#') Separated link
                            li.divider
                            li
                                a(href='#') One more separated link
                form.navbar-form.navbar-left(role='search')
                    .form-group
                        input.form-control(type='text', placeholder='Search')
                    button.btn.btn-default(type='submit') Submit
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') Link

    h2(align='center') Rating General

    div( ng-controller='myCtrl', align='center')
        h4 {{'#' + profesor + ' ' + '#'+curso}}
        br
        div(class="container")
            .row(align='center')
                .col-lg-5
                    .bs-component
                        .progress.progress-striped.active
                            .progress-bar(style='width: 45%')

        br
        div(id='rateYo1')
        br

        button(type='button',class='btn btn-success', ng-click='myFunc()') Qualify!
        br
        div(id='rating', ng-show='showMe' )
            div(class='container')
                h4 Votar
                p
                | Selecciona
                a(href='#') la puntuacion
                |  para cada uno de los aspectos requeridos.
                table(class='table-responsive')
                    thead
                      tr
                        th Metrica
                        th Puntuacion
                    tbody
                        tr
                          td Puntualidad:
                          td
                            div(id='rate_puntualidad')
                        tr
                            td Cumplimiento de horario establecido:
                            td
                                div(id='rate_hestablecido')
                        tr
                            td Asistencia
                            td
                                div(id='rate_asistencia')
                        tr
                            td Trato hacia los estudiantes
                            td
                                div(id='rate_trato')
                        tr
                            td Metodologia
                            td
                                div(id='rate_metodologia')
                        tr
                            td Objetividad
                            td
                                div(id='rate_objetividad')
                        tr
                            td Revision de Examenes
                            td
                                div(id='rate_revision')
                        tr
                            td Transparencia en cuadro de notas
                            td
                                div(id='rate_transparencia')
                        tr
                            td Comunicacion
                            td
                                div(id='rate_comunicacion')
                        tr
                            td
                            td
                                button(type='button',class='btn btn-primary', ng-click='myFunc()', onclick='get_votes()') Vote




    script(type='text/javascript',src='javascripts/jquery.js')
    script(type='text/javascript',src='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.js')
    script(type='text/javascript', src='javascripts/rate.js')
    br
    br
    br
    div(class='container')
     div(ng-controller='TweetList', align='left')
        .row
            .col-lg-12
                h1
                    img#twitter-logo(src='images/Twitter_bird_logo_2012.png')
        #search-container.row
            .col-lg-3
                // this form will trigger the getTweets function in the javascript controller on submit
                form.input-group(ng-submit='getTweets()')
                    span.input-group-addon #
                    // this text input is binded to a variable in the javascript controller
                    input.form-control(type='text', placeholder='Hashtag', ng-model='username')
                    span.input-group-btn
                        button.btn.btn-default(type='submit') Get Tweets
        .row.clearfix
            .col-lg-12
                #tweet-list
                    // this div will repeat for every tweet object in the array using a template-expanding directive
                    .tweet-item(ng-repeat='tweet in tweetsResult')
                        // sanitized HTML binding
                        div(ng-bind-html='tweet.oEmbed.html', align='center')
                        // binding to Tweet source property
                        .tweet-details
                            | Tweeted from
                            span(ng-bind-html='tweet.source')
                            // play around with rendering different Tweet properties
                            // <p>{{tweet.user.screen_name}}</p>
                            // <p>{{tweet.text}}</p>
        .row
            .col-lg-12
                // this button will trigger the getMoreTweets function in the javascript controller
                button.load-more-btn.btn.btn-default(type='button', ng-click='getMoreTweets()') Get More Tweets



