//
   Created by feer on 29/04/16.

doctype html
html
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    head
        title Qualifier
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src="/socket.io/socket.io.js")
        //script(src='/javascripts/load_menu.js')
        link(href='stylesheets/style-login.css', rel='stylesheet', type='text/css', media='all')
        link(href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')

    body
        script(type='text/javascript').
            //var local_data = !{JSON.stringify(data)};
            //console.log(local_data.prof);
            //console.log(local_data.curs);


        script.
            // This is called with the results from from FB.getLoginStatus().
            function statusChangeCallback(response) {
                //console.log('statusChangeCallback');
                //console.log(response);
                // The response object is returned with a status field that lets the
                // app know the current login status of the person.
                // Full docs on the response object can be found in the documentation
                // for FB.getLoginStatus().
                if (response.status === 'connected') {
                    // Logged into your app and Facebook.
                    testAPI();
                } else if (response.status === 'not_authorized') {
                    // The person is logged into Facebook, but not your app.
                    document.getElementById('status').innerHTML = 'Please log ' +
                            'into this app.';
                } else {
                    // The person is not logged into Facebook, so we're not sure if
                    // they are logged into this app or not.
                    document.getElementById('status').innerHTML = 'Please log ' +
                            'into Facebook.';
                }
            }
            // This function is called when someone finishes with the Login
            // Button.  See the onlogin handler attached to it in the sample
            // code below.

            function fb_login(){
                FB.login(function (response) {
                    if (response.status === 'connected') {
                        // Logged into your app and Facebook
                        testAPI();
                    } else if (response.status === 'not_authorized') {
                        // The person is logged into Facebook, but not your app.
                        document.getElementById('status').innerHTML = 'Please log ' +
                                'into Facebook.';
                    } else {
                        // The person is not logged into Facebook, so we're not sure if
                        // they are logged into this app or not.
                        document.getElementById('status').innerHTML = 'Please log ' +
                                'into Facebook.';
                    }
                }, {scope: 'public_profile,email,publish_actions'});
            }

            function fb_tw_login() {
                FB.login(function (response) {
                    if (response.status === 'connected') {
                        // Logged into your app and Facebook.
                        twitterLogin();
                    } else if (response.status === 'not_authorized') {
                        // The person is logged into Facebook, but not your app.
                        document.getElementById('status').innerHTML = 'Please log ' +
                                'into Facebook.';
                    } else {
                        // The person is not logged into Facebook, so we're not sure if
                        // they are logged into this app or not.
                        document.getElementById('status').innerHTML = 'Please log ' +
                                'into Facebook.';
                    }
                }, {scope: 'public_profile,email'});
            }

            function adm_login() {
                FB.login(function (response) {
                    //console.log(response.authResponse.userID);
                    if (response.status === 'connected') {
                        // Logged into your app and Facebook.
                        //console.log(response);
                        if(response.authResponse.userID == 10207745334049684 || response.authResponse.userID == 100001617354978){
                            window.location.href = "/asignacion";
                        }else{
                            console.log("No estas autorizado para entrar")
                        }
                    } else if (response.status === 'not_authorized') {
                        // The person is logged into Facebook, but not your app.
                        document.getElementById('status').innerHTML = 'Please log ' +
                                'into Facebook.';
                    } else {
                        // The person is not logged into Facebook, so we're not sure if
                        // they are logged into this app or not.
                        document.getElementById('status').innerHTML = 'Please log ' +
                                'into Facebook.';
                    }
                }, {scope: 'public_profile,email'});
            }
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1080806451981964',
                    cookie: true,  // enable cookies to allow the server to access
                    // the session
                    xfbml: true,  // parse social plugins on this page
                    version: 'v2.5' // use graph api version 2.5
                });
                //con esto revisamos que la persona esta logueada al entrar al login
                /*FB.getLoginStatus(function (response) {
                    statusChangeCallback(response);
                });*/
            };
            // Load the SDK asynchronously
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            // Here we run a very simple test of the Graph API after login is
            // successful.  See statusChangeCallback() for when this call is made.
            function testAPI() {
                console.log('Welcome!  Fetching your information.... ');
                FB.api('/me', function (response) {
                    console.log('Successful login for: ' + response.name);
                    document.getElementById('status').innerHTML =
                            'Thanks for logging in, ' + response.id + '!';
                });
                window.location.href="/menu";
            }

            function twitterLogin(){
                window.location.href="/request_token";
             }

        .login-form
            .top-login
                span
                    img(src='images/group.png', alt='')
            h1 QualifyMe Login
            .login-top
                form
                    .log-bwn
                        img(src='images/twitter.png', alt='')
                        input(type='button',class='log-bwn buttontwitter', value='Login with Twitter', onclick='twitterLogin();')
                        br
                        br
                        img(src='images/facebook.png', alt='')
                        input(type='button', class='log-bwn buttonfb',value='Login with Facebook', onclick='fb_login();')
                        br
                        br
                        img(src='images/facebook.png', alt='')
                        img(src='images/twitter.png', alt='')
                        input(type='button', class='log-bwn buttonboth',value='Login with Both', onclick='fb_tw_login();')
                        br
                        br
                        input(type='button', class='log-bwn buttonadm',value='Admin Login', onclick='adm_login();')
                        #status
    br
    br
    include footer.jade